<% include('../layouts/header.ejs') %>

<h1>Dashboard</h1>

<a href="/admin/new-user">Add new user</a>
<br><br>

<table width = "75%">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>CF ID</th>
        <th>LC ID</th>
        <th>Verified</th>
        <th>Actions</th>
    </tr>
    <%
        if(users.length > 0)
        {
            for(let i=0; i<users.length; i++){
            %>
            <tr>
                <td><%= users[i].name %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].cf_id %></td>
                <td><%= users[i].lc_id %></td>
                <td><%
                    if(users[i].is_varified == 0){
                        %>
                        <p>Not Verified</p>
                        <%
                    }
                    else{
                        %>
                        <p>Verified</p>
                        <%
                    }
                    %></td>
                    <td>
                        <a href="/admin/edit-user?id=<%= users[i]._id %>">Edit</a>
                        <a href="/admin/delete-user?id=<%= users[i]._id %>">Delete</a>
                    </td>

            </tr>
            <%
            }
        }
        else
        %>
            <td colspan="5">Users Not Found</td>
        <%
    %>
</table>

<a href="/admin/home">Go to home</a>

<% include('../layouts/footer.ejs') %>





